@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --cor-primaria: #766ccd;
    --cor-secundaria: #c9c4ec;
    --cor-primaria-hover: #766ccd66;
    --cor-chocolate: #4e2d20;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    color: white;
    background-color: var(--cor-primaria);
    width: 100%;
}

header img {
    height: 10vh;
    object-fit: cover;
}

header h1 {
    color: #f4f4f4;
}

#banner {
    width: 100%;
    height: 35vh;
    background-image: url("../assets/imgs/banner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner p {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav h2 {
    color: #766ccd;
    font-weight: bolder;
}

#nav__btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

#nav__btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: var(--cor-secundaria);
    color: #fff;
    font-weight: bold;
}

#nav__btns a span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.374);
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30pt;
}

footer div {
    padding: 12pt;
    background-color: #fafafa;
    text-align: center;
}

footer div a {
    font-weight: bold;
    color: var(--cor-primaria);
}

.catalogo__categoria-titulo {
    color: var(--cor-chocolate);
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 0 0 1rem;
    margin-top: -100px; 
    padding-top: 100px; 
}

.catalogo__categoria-itens {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-count: 2;
    grid-gap: 1rem 1rem;
}

.card__produto {
    margin-right: auto;
    padding: 0.5rem;
    width: (50vw - 2rem);
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__produto img {
    object-fit: scale-down;
    padding: 1rem;
    height: 70%;
    width: 100%;
}

.card__produto div p {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    color: var(--cor-chocolate);
    font-weight: bold;
}